module.exports = {
  HATEB_URL: 'http://b.hatena.ne.jp/kkeisuke/search.data',
  GITHUB_API_TOKEN: '',
  GITHUB_OWNER: 'kkeisuke',
  GITHUB_REPO: 'hatebu-kkeisuke-client',
  GITHUB_REF: 'heads/master',
  GITHUB_PATH: 'content/posts',
  COMMIT_MSG: '記事の追加更新'
}
